/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.inputField {
    display: inline-block;
    width: 130px;
    margin: 0;
    margin: 0 0 7px 0;
}

​
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.body-for-sticky {
    position: relative; /* for the footer to move with the page size */
    min-height: 100%; /* for the footer to be at the bottom */
    padding-bottom: 6rem; /* Space available between last element and bottom border of the page */
}

.sticky-footer {
    position: absolute; /* for it to disappear under last body element */
    bottom: 0; /* so the footer can stick to the bottom*/
}

#container {
    color: white;
    background: #363636;
    padding: 2em;
    background: #363636;
    flex: 1 1 auto;
    width: 55%;
    text-align: center;
    margin-right: 20px;
}


.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    clear: both;
}

/*Custom styles
-------------------------------------------------- */

/* Navbar container */
.navbar {
    background-color: #333;
}

/* Links inside the navbar */
.dropdown-custom {
    float: left;
    color: #212529;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
}

li {
    line-height: 20px;
}

.dropdown {
    display: flex;
}

/* The dropdown container */
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    inset: 0px auto auto 0px;
}

.dropdown-content {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

.list-parent {
    font-size: 1.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.list-nested {
    font-size: 0.7em;
    padding-block: 0.5em;
}

.regulations-box {
    max-width: 720px;
    margin-top: 50px;
    margin-right: 20px;
}
